/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19-11.7.2-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: pickleball
-- ------------------------------------------------------
-- Server version	11.7.2-MariaDB-log

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*M!100616 SET @OLD_NOTE_VERBOSITY=@@NOTE_VERBOSITY, NOTE_VERBOSITY=0 */;

--
-- Table structure for table `_prisma_migrations`
--

DROP TABLE IF EXISTS `_prisma_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `_prisma_migrations` (
  `id` varchar(36) NOT NULL,
  `checksum` varchar(64) NOT NULL,
  `finished_at` datetime(3) DEFAULT NULL,
  `migration_name` varchar(255) NOT NULL,
  `logs` text DEFAULT NULL,
  `rolled_back_at` datetime(3) DEFAULT NULL,
  `started_at` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `applied_steps_count` int(10) unsigned NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `_prisma_migrations`
--

LOCK TABLES `_prisma_migrations` WRITE;
/*!40000 ALTER TABLE `_prisma_migrations` DISABLE KEYS */;
INSERT INTO `_prisma_migrations` VALUES
('2f5fcfc6-b7df-4464-b115-2e5e87f14b5e','9fb5a439fdc6c395fb64da2f0f76271050affc390b63dcc39cefb50a3dc75722','2026-04-14 03:09:07.060','20260414_add_category_pool_bracket_system','',NULL,'2026-04-14 03:09:07.060',0);
/*!40000 ALTER TABLE `_prisma_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `category`
--

DROP TABLE IF EXISTS `category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `category` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(191) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `category`
--

LOCK TABLES `category` WRITE;
/*!40000 ALTER TABLE `category` DISABLE KEYS */;
/*!40000 ALTER TABLE `category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `club`
--

DROP TABLE IF EXISTS `club`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `club` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(191) NOT NULL,
  `description` text DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `contact` varchar(191) DEFAULT NULL,
  `location` varchar(191) DEFAULT NULL,
  `logo` varchar(191) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `club`
--

LOCK TABLES `club` WRITE;
/*!40000 ALTER TABLE `club` DISABLE KEYS */;
INSERT INTO `club` VALUES
(1,'Rajawali Club','','2026-03-20 13:40:32.748','2026-03-20 13:54:53.664','@rajawali.club','lapangan baja ','https://tse4.mm.bing.net/th/id/OIP.ZaRJRAfG7k7JsjPJwomGIwHaHa?rs=1&pid=ImgDetMain&o=7&rm=3');
/*!40000 ALTER TABLE `club` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `comment`
--

DROP TABLE IF EXISTS `comment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `comment` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `content` varchar(191) NOT NULL,
  `postId` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `Comment_postId_fkey` (`postId`),
  CONSTRAINT `Comment_postId_fkey` FOREIGN KEY (`postId`) REFERENCES `post` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `comment`
--

LOCK TABLES `comment` WRITE;
/*!40000 ALTER TABLE `comment` DISABLE KEYS */;
/*!40000 ALTER TABLE `comment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contact`
--

DROP TABLE IF EXISTS `contact`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `contact` (
  `id` varchar(191) NOT NULL,
  `nama` varchar(191) NOT NULL,
  `email` varchar(191) NOT NULL,
  `pesan` text NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contact`
--

LOCK TABLES `contact` WRITE;
/*!40000 ALTER TABLE `contact` DISABLE KEYS */;
/*!40000 ALTER TABLE `contact` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `groupmatch`
--

DROP TABLE IF EXISTS `groupmatch`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `groupmatch` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `groupId` int(11) NOT NULL,
  `player1Name` varchar(191) NOT NULL,
  `player2Name` varchar(191) NOT NULL,
  `score1` int(11) DEFAULT NULL,
  `score2` int(11) DEFAULT NULL,
  `winnerName` varchar(191) DEFAULT NULL,
  `status` enum('SCHEDULED','ONGOING','DONE') NOT NULL DEFAULT 'SCHEDULED',
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `GroupMatch_groupId_idx` (`groupId`),
  CONSTRAINT `GroupMatch_groupId_fkey` FOREIGN KEY (`groupId`) REFERENCES `tournamentgroup` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=38 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `groupmatch`
--

LOCK TABLES `groupmatch` WRITE;
/*!40000 ALTER TABLE `groupmatch` DISABLE KEYS */;
INSERT INTO `groupmatch` VALUES
(35,12,'Gede','satya',10,11,'satya','DONE','2026-05-12 03:14:12.092','2026-05-12 03:14:26.710'),
(36,12,'Gede','wisnu',1,11,'wisnu','DONE','2026-05-12 03:14:12.092','2026-05-12 03:30:44.696'),
(37,12,'satya','wisnu',11,2,'satya','DONE','2026-05-12 03:14:12.092','2026-05-12 03:30:20.371');
/*!40000 ALTER TABLE `groupmatch` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `groupmember`
--

DROP TABLE IF EXISTS `groupmember`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `groupmember` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `groupId` int(11) NOT NULL,
  `playerName` varchar(191) NOT NULL,
  `seedOrder` int(11) NOT NULL DEFAULT 0,
  `played` int(11) NOT NULL DEFAULT 0,
  `wins` int(11) NOT NULL DEFAULT 0,
  `losses` int(11) NOT NULL DEFAULT 0,
  `pointsFor` int(11) NOT NULL DEFAULT 0,
  `pointsAgainst` int(11) NOT NULL DEFAULT 0,
  `pointDiff` int(11) NOT NULL DEFAULT 0,
  `rank` int(11) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `GroupMember_groupId_idx` (`groupId`),
  CONSTRAINT `GroupMember_groupId_fkey` FOREIGN KEY (`groupId`) REFERENCES `tournamentgroup` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `groupmember`
--

LOCK TABLES `groupmember` WRITE;
/*!40000 ALTER TABLE `groupmember` DISABLE KEYS */;
INSERT INTO `groupmember` VALUES
(17,11,'bagus',1,0,0,0,0,0,0,NULL,'2026-05-12 03:10:33.804','2026-05-12 03:10:33.804'),
(19,11,'indra',3,0,0,0,0,0,0,NULL,'2026-05-12 03:12:05.853','2026-05-12 03:12:05.853'),
(20,11,'yani',3,0,0,0,0,0,0,NULL,'2026-05-12 03:12:12.236','2026-05-12 03:12:12.236'),
(22,12,'Gede',1,2,0,2,11,22,-11,3,'2026-05-12 03:13:05.405','2026-05-12 03:30:44.711'),
(23,12,'satya',1,2,2,0,22,12,10,1,'2026-05-12 03:13:12.490','2026-05-12 03:30:44.709'),
(24,12,'wisnu',3,2,1,1,13,12,1,2,'2026-05-12 03:13:46.659','2026-05-12 03:30:44.709');
/*!40000 ALTER TABLE `groupmember` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `knockoutmatch`
--

DROP TABLE IF EXISTS `knockoutmatch`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `knockoutmatch` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tournamentId` int(11) NOT NULL,
  `category` varchar(191) NOT NULL,
  `roundText` varchar(191) NOT NULL,
  `matchOrder` int(11) NOT NULL,
  `player1Name` varchar(191) DEFAULT NULL,
  `player2Name` varchar(191) DEFAULT NULL,
  `score1` int(11) DEFAULT NULL,
  `score2` int(11) DEFAULT NULL,
  `winnerName` varchar(191) DEFAULT NULL,
  `nextMatchId` int(11) DEFAULT NULL,
  `status` enum('SCHEDULED','ONGOING','DONE') NOT NULL DEFAULT 'SCHEDULED',
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `KnockoutMatch_tournamentId_category_idx` (`tournamentId`,`category`),
  CONSTRAINT `KnockoutMatch_tournamentId_fkey` FOREIGN KEY (`tournamentId`) REFERENCES `tournament` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `knockoutmatch`
--

LOCK TABLES `knockoutmatch` WRITE;
/*!40000 ALTER TABLE `knockoutmatch` DISABLE KEYS */;
/*!40000 ALTER TABLE `knockoutmatch` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `player`
--

DROP TABLE IF EXISTS `player`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `player` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `fullName` varchar(191) NOT NULL,
  `schoolName` varchar(191) NOT NULL,
  `phoneNumber` varchar(191) NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `tournamentId` int(11) NOT NULL,
  `seedOrder` int(11) DEFAULT NULL,
  `gender` enum('MALE','FEMALE') NOT NULL,
  `grade` enum('SD','SMP','SMA') NOT NULL,
  `matchType` enum('SINGLE','DOUBLE','MIXED') NOT NULL,
  `teamId` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `Player_tournamentId_fkey` (`tournamentId`),
  KEY `Player_teamId_fkey` (`teamId`),
  CONSTRAINT `Player_teamId_fkey` FOREIGN KEY (`teamId`) REFERENCES `team` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `Player_tournamentId_fkey` FOREIGN KEY (`tournamentId`) REFERENCES `tournament` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `player`
--

LOCK TABLES `player` WRITE;
/*!40000 ALTER TABLE `player` DISABLE KEYS */;
/*!40000 ALTER TABLE `player` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pool`
--

DROP TABLE IF EXISTS `pool`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `pool` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `label` varchar(191) NOT NULL,
  `poolCode` varchar(191) NOT NULL,
  `categoryKey` varchar(191) NOT NULL,
  `grade` enum('SD','SMP','SMA') NOT NULL,
  `gender` enum('MALE','FEMALE') DEFAULT NULL,
  `matchType` enum('SINGLE','DOUBLE','MIXED') NOT NULL,
  `maxSize` int(11) NOT NULL DEFAULT 8,
  `status` enum('OPEN','FULL','COMPLETED') NOT NULL DEFAULT 'OPEN',
  `tournamentId` int(11) NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL DEFAULT current_timestamp(3) ON UPDATE current_timestamp(3),
  PRIMARY KEY (`id`),
  KEY `Pool_tournamentId_categoryKey_idx` (`tournamentId`,`categoryKey`),
  CONSTRAINT `Pool_tournamentId_fkey` FOREIGN KEY (`tournamentId`) REFERENCES `tournament` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pool`
--

LOCK TABLES `pool` WRITE;
/*!40000 ALTER TABLE `pool` DISABLE KEYS */;
INSERT INTO `pool` VALUES
(1,'Pool A SD Putra Single','A','SD_MALE_SINGLE','SD','MALE','SINGLE',8,'OPEN',2,'2026-04-14 04:10:26.203','2026-04-14 04:10:26.203'),
(2,'Pool A SMP Putri Single','A','SMP_FEMALE_SINGLE','SMP','FEMALE','SINGLE',8,'OPEN',2,'2026-04-14 04:12:56.558','2026-04-14 04:12:56.558');
/*!40000 ALTER TABLE `pool` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `poolmatch`
--

DROP TABLE IF EXISTS `poolmatch`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `poolmatch` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `poolId` int(11) NOT NULL,
  `member1Id` int(11) NOT NULL,
  `member2Id` int(11) NOT NULL,
  `score1` int(11) DEFAULT NULL,
  `score2` int(11) DEFAULT NULL,
  `winnerId` int(11) DEFAULT NULL,
  `winnerName` varchar(191) DEFAULT NULL,
  `status` enum('SCHEDULED','ONGOING','DONE') NOT NULL DEFAULT 'SCHEDULED',
  `matchOrder` int(11) NOT NULL DEFAULT 0,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL DEFAULT current_timestamp(3) ON UPDATE current_timestamp(3),
  PRIMARY KEY (`id`),
  KEY `PoolMatch_poolId_idx` (`poolId`),
  KEY `PoolMatch_member1Id_fkey` (`member1Id`),
  KEY `PoolMatch_member2Id_fkey` (`member2Id`),
  CONSTRAINT `PoolMatch_member1Id_fkey` FOREIGN KEY (`member1Id`) REFERENCES `poolmember` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `PoolMatch_member2Id_fkey` FOREIGN KEY (`member2Id`) REFERENCES `poolmember` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `PoolMatch_poolId_fkey` FOREIGN KEY (`poolId`) REFERENCES `pool` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `poolmatch`
--

LOCK TABLES `poolmatch` WRITE;
/*!40000 ALTER TABLE `poolmatch` DISABLE KEYS */;
/*!40000 ALTER TABLE `poolmatch` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `poolmember`
--

DROP TABLE IF EXISTS `poolmember`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `poolmember` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `poolId` int(11) NOT NULL,
  `memberName` varchar(191) NOT NULL,
  `playerId` int(11) DEFAULT NULL,
  `teamId` int(11) DEFAULT NULL,
  `played` int(11) NOT NULL DEFAULT 0,
  `wins` int(11) NOT NULL DEFAULT 0,
  `losses` int(11) NOT NULL DEFAULT 0,
  `pointsFor` int(11) NOT NULL DEFAULT 0,
  `pointsAgainst` int(11) NOT NULL DEFAULT 0,
  `pointDiff` int(11) NOT NULL DEFAULT 0,
  `rank` int(11) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL DEFAULT current_timestamp(3) ON UPDATE current_timestamp(3),
  PRIMARY KEY (`id`),
  KEY `PoolMember_poolId_idx` (`poolId`),
  KEY `PoolMember_playerId_fkey` (`playerId`),
  KEY `PoolMember_teamId_fkey` (`teamId`),
  CONSTRAINT `PoolMember_playerId_fkey` FOREIGN KEY (`playerId`) REFERENCES `player` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `PoolMember_poolId_fkey` FOREIGN KEY (`poolId`) REFERENCES `pool` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `PoolMember_teamId_fkey` FOREIGN KEY (`teamId`) REFERENCES `team` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `poolmember`
--

LOCK TABLES `poolmember` WRITE;
/*!40000 ALTER TABLE `poolmember` DISABLE KEYS */;
INSERT INTO `poolmember` VALUES
(1,1,'Syblok',12,NULL,0,0,0,0,0,0,NULL,'2026-04-14 04:10:26.209','2026-04-14 04:10:26.209'),
(2,2,'putri',13,NULL,0,0,0,0,0,0,NULL,'2026-04-14 04:12:56.564','2026-04-14 04:12:56.564');
/*!40000 ALTER TABLE `poolmember` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `post`
--

DROP TABLE IF EXISTS `post`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `post` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(191) NOT NULL,
  `content` varchar(191) NOT NULL,
  `image` varchar(191) DEFAULT NULL,
  `published` tinyint(1) NOT NULL DEFAULT 0,
  `authorId` int(11) NOT NULL,
  `categoryId` int(11) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  KEY `Post_authorId_fkey` (`authorId`),
  KEY `Post_categoryId_fkey` (`categoryId`),
  CONSTRAINT `Post_authorId_fkey` FOREIGN KEY (`authorId`) REFERENCES `user` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `Post_categoryId_fkey` FOREIGN KEY (`categoryId`) REFERENCES `category` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `post`
--

LOCK TABLES `post` WRITE;
/*!40000 ALTER TABLE `post` DISABLE KEYS */;
INSERT INTO `post` VALUES
(1,'Kejuaraan Walikota Cup 2027','Persiapkan tim Anda! IPF Kota Denpasar akan menjadi tuan rumah untuk kejuaraan tingkat nasional tahun ini','/uploads/1773895535435-646431870-juaraUmum.png',1,1,NULL,'2026-03-19 04:46:29.321'),
(2,'Porjar Kota Denpasar Diselenggarakan di SMPN 4','coming soon.....','/uploads/1773895909300-27923741-fotoPeserta.jpg',1,1,NULL,'2026-03-19 04:51:55.950');
/*!40000 ALTER TABLE `post` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `team`
--

DROP TABLE IF EXISTS `team`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `team` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(191) NOT NULL,
  `matchType` enum('SINGLE','DOUBLE','MIXED') NOT NULL,
  `grade` enum('SD','SMP','SMA') NOT NULL,
  `categoryKey` varchar(191) NOT NULL,
  `tournamentId` int(11) NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL DEFAULT current_timestamp(3) ON UPDATE current_timestamp(3),
  PRIMARY KEY (`id`),
  KEY `Team_tournamentId_categoryKey_idx` (`tournamentId`,`categoryKey`),
  CONSTRAINT `Team_tournamentId_fkey` FOREIGN KEY (`tournamentId`) REFERENCES `tournament` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `team`
--

LOCK TABLES `team` WRITE;
/*!40000 ALTER TABLE `team` DISABLE KEYS */;
/*!40000 ALTER TABLE `team` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tournament`
--

DROP TABLE IF EXISTS `tournament`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `tournament` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(191) NOT NULL,
  `slug` varchar(191) NOT NULL,
  `description` text DEFAULT NULL,
  `location` varchar(191) NOT NULL,
  `startDate` datetime(3) NOT NULL,
  `endDate` datetime(3) NOT NULL,
  `registrationFee` int(11) NOT NULL DEFAULT 0,
  `prizePool` varchar(191) DEFAULT NULL,
  `maxParticipants` int(11) NOT NULL,
  `status` enum('DRAFT','UPCOMING','ONGOING','COMPLETED','CANCELED') NOT NULL DEFAULT 'DRAFT',
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `category` varchar(191) DEFAULT NULL,
  `image` varchar(191) DEFAULT NULL,
  `poolSize` int(11) NOT NULL DEFAULT 8,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Tournament_slug_key` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tournament`
--

LOCK TABLES `tournament` WRITE;
/*!40000 ALTER TABLE `tournament` DISABLE KEYS */;
INSERT INTO `tournament` VALUES
(1,'walikota cup','walikota-cup','ssss','kompyang','2026-03-17 00:00:00.000','2026-03-17 00:00:00.000',0,NULL,32,'COMPLETED','2026-03-17 07:11:13.649','2026-03-20 12:14:43.317','pelajar','/uploads/1773892225032-107509338-juaraUmum.png',8),
(2,'KONI CUP DENPASAR 2026','koni-cup-denpasar-2026','','GOR Kompyang Sujana','2026-11-20 00:00:00.000','2026-11-24 00:00:00.000',100000,NULL,64,'UPCOMING','2026-03-20 12:16:48.479','2026-03-20 12:57:20.394','open','/uploads/1774009008443-panitia.jpg',8);
/*!40000 ALTER TABLE `tournament` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tournamentgroup`
--

DROP TABLE IF EXISTS `tournamentgroup`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `tournamentgroup` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(191) NOT NULL,
  `tournamentId` int(11) NOT NULL,
  `category` varchar(191) NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `TournamentGroup_tournamentId_category_idx` (`tournamentId`,`category`),
  CONSTRAINT `TournamentGroup_tournamentId_fkey` FOREIGN KEY (`tournamentId`) REFERENCES `tournament` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tournamentgroup`
--

LOCK TABLES `tournamentgroup` WRITE;
/*!40000 ALTER TABLE `tournamentgroup` DISABLE KEYS */;
INSERT INTO `tournamentgroup` VALUES
(11,'Grup A',2,'SMA_MALE_SINGLE','2026-05-12 02:37:35.874','2026-05-12 02:37:35.874'),
(12,'Grup B',2,'SMA_MALE_SINGLE','2026-05-12 03:12:44.577','2026-05-12 03:12:44.577');
/*!40000 ALTER TABLE `tournamentgroup` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(191) DEFAULT NULL,
  `email` varchar(191) NOT NULL,
  `password` varchar(191) NOT NULL,
  `role` varchar(191) NOT NULL DEFAULT 'USER',
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `User_email_key` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
INSERT INTO `user` VALUES
(1,'Admin IPF Kota Denpasar','admin@gmail.com','$2b$10$0lI8xl1yz93sRwio4jhuOerq/8FEi3r5dsyQ9vtFe8Clc601FjY5e','ADMIN','2026-03-16 10:38:25.938','2026-03-16 10:38:25.938');
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*M!100616 SET NOTE_VERBOSITY=@OLD_NOTE_VERBOSITY */;

-- Dump completed on 2026-08-07  9:27:04
